
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed to serve various applications efficiently. It provides a way to store and retrieve data reliably and securely.

SQL (Structured Query Language) databases are relational databases that use a tabular structure to organize and store data. They follow a predefined schema and use SQL for querying and manipulating data. SQL databases are known for their strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) properties, and support for complex transactions. Examples of SQL databases include MySQL, PostgreSQL, Oracle.

NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that do not rely on a fixed schema. They provide flexibility in handling unstructured or semi-structured data and are designed to scale horizontally. NoSQL databases use various data models such as key-value, document, columnar, or graph. They offer high scalability, performance, and flexibility but may sacrifice some level of consistency. Examples of NoSQL databases include MongoDB, Cassandra, Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

CREATE: The CREATE statement is used to create new database objects. For example, to create a table named "users" with columns for "id" and "name", the following SQL statement can be used:

CREATE TABLE users (
  id INT PRIMARY KEY,
  name VARCHAR(50)
);

DROP: The DROP statement is used to delete existing database objects. For example, to drop the "users" table, the following SQL statement can be used:

DROP TABLE users;

ALTER: The ALTER statement is used to modify the structure of an existing database object. For example, to add a new column "email" to the "users" table, the following SQL statement can be used:

ALTER TABLE users ADD COLUMN email VARCHAR(100);

TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping the table structure intact. For example, to remove all data from the "users" table, the following SQL statement can be used:

TRUNCATE TABLE users;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands used to manipulate the data stored in the database. DML statements are used to insert, update, and delete data from database tables.

INSERT: The INSERT statement is used to add new rows of data into a table. For example, to insert a new user with the values "John" for the "name" column and 25 for the "age" column into the "users" table, the following SQL statement can be used:

INSERT INTO users (name, age) VALUES ('John', 25);

UPDATE: The UPDATE statement is used to modify existing data in a table. For example, to update the "age" of a user with the name "John" to 30, the following SQL statement can be used:

UPDATE users SET age = 30 WHERE name = 'John';

DELETE: The DELETE statement is used to remove rows from a table. For example, to delete all users with an age greater than 40 from the "users" table, the following SQL statement can be used:

DELETE FROM users WHERE age > 40;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database. DQL statements are primarily focused on querying the database and fetching specific data based on specified criteria.

SELECT: The SELECT statement is used to retrieve data from one or more tables in the database. It allows you to specify the columns to retrieve, the table(s) to query, and any filtering or sorting criteria. For example, to select all columns from the "users" table, the following SQL statement can be used:

SELECT * FROM users;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It ensures the uniqueness and integrity of the data within a table. A primary key constraint enforces the primary key property. For example, in a "users" table, an "id" column can be defined as the primary key to uniquely identify each user.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables by enforcing referential integrity. It ensures that the values in the foreign key column(s) match with the values in the primary key column(s) of the referenced table. For example, in a "orders" table, a "user_id" column can be defined as a foreign key that references the "id" column in the "users" table. This establishes a relationship between orders and users, ensuring that only valid user IDs can be inserted in the "user_id" column.

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

To connect Python to MySQL, you can use the mysql-connector-python package. Here's an example code:

import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = conn.cursor()

cursor.execute("SELECT * FROM users")

rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()