In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3.

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

"""In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, 
boolean, etc.) in columns. It is similar to a table or a spreadsheet, where each column represents a different variable or 
feature, and each row represents an observation or data point.

A Series is a one-dimensional labeled array in Pandas that can store data of a single data type. It can be thought of as 
a single column of a DataFrame. The Series object is labeled, meaning it can have an index that provides a unique label or 
identifier for each data point in the Series."""

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Emma', 'Peter'],
    'Age': [25, 28, 32],
    'City': ['New York', 'London', 'Paris']
}
df = pd.DataFrame(data)
print(df)

# Creating a Series
ages = pd.Series([25, 28, 32], name='Age')
print(ages)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   32     Paris
0    25
1    28
2    32
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you 
might use one of these functions?

head() - Returns the first n rows of the DataFrame. Useful for quickly inspecting the data.
Example: df.head(5) returns the first 5 rows of the DataFrame.

tail() - Returns the last n rows of the DataFrame. Useful for quickly inspecting the end of the data.
Example: df.tail(3) returns the last 3 rows of the DataFrame.

info() - Provides information about the DataFrame, such as column names, data types, and memory usage.
Example: df.info() prints the summary information about the DataFrame.

describe() - Generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, min, max, etc.
Example: df.describe() generates summary statistics for numerical columns.

shape - Returns the dimensions (number of rows and columns) of the DataFrame.
Example: df.shape returns the tuple (number of rows, number of columns) of the DataFrame.

drop() - Drops specified rows or columns from the DataFrame.
Example: df.drop(['column_name'], axis=1) drops a specific column from the DataFrame.

fillna() - Fills missing values in the DataFrame with a specified value or method.
Example: df.fillna(0) replaces all missing values with 0 in the DataFrame.

groupby() - Groups the DataFrame by one or more columns and allows for aggregation operations on the grouped data.

Example: df.groupby('column_name').mean() calculates the mean of numerical columns grouped by a specific column.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: Immutable (values cannot be changed after creation)

DataFrame: Mutable (values can be modified after creation)

Panel: Mutable (values can be modified after creation)

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd

name_series = pd.Series(['John', 'Emma', 'Peter'])
age_series = pd.Series([25, 28, 32])
city_series = pd.Series(['New York', 'London', 'Paris'])

data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   32     Paris